# Node.js
node_modules/


# Лог-файли
logs
*.log
npm-debug.log*

# Середовище
.env

# IDE
.idea/


finance-helper.json


test/accountRoutes/.env
test/expenseCategoryRoutes/.env
test/incomeCategoryRoutes/.env
test/incomeRoutes/.env
test/transferRoutes/.env
test/userRoutes/.env
